<div class="col-12">
  <div class="card my-5 border-0 shadow">
    <div class="card-body">
      <h2 class="display-4">To share!</h2>
      <form>
        <div class="form-group">
          <label for="email">Title</label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="body">Body</label>
          <textarea class="form-control" name="body" id="body" cols="30" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>
